@import "tailwindcss";

:root {
  --color-primary: #C22116;
  --color-secondary: #FFA90A;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  background: #181717;
}

.bg {
  background-image: url("./assets/bg.svg");
}

table, table td {
  border: 1px solid white;
}